@font-face {
  font-family: ZenKaku;
  src: url('./assets/fonts/ZenKakuGothicNew-Regular.ttf');
}

body {
  margin: 0;
  font-family: ZenKaku, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
